<title> The Hangman game! </title>
<div class="container">

    <div class="page-header text-center">
      <a href="/"> <h1><%= title %> <small> Are you crazy enough? </small> </h1> </a>
    </div>
  <!-- Play game -->
    <div id="main_screen">
  <div class="row">
    <div class="col-xs-12 text-center">
      <!-- New Modal -->
        <button type="button" class="btn btn-success btn-lg" id="new_btn">New Game</button>
        <div class="modal fade" id="new_modal" role="dialog">
          <div class="modal-dialog">

            <!-- New Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span> New game</h4>
              </div>
              <div class="modal-body" style="padding:40px 50px;">

                <form id="form_game_name" method="post">
                  <div class="form-group">
                    <label for="game_name"> <span class="glyphicon glyphicon-user"></span> Game Name: </label>
                    <input type="text" class="form-control" id="game_name" name="name" placeholder="What is the name of the game?" />
                  </div>

                    <button id="btn_continue_create_game" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
              </div>
            </div>

          </div>
        </div>
        <!-- **************************************** Join Modal ******************************** -->
        <button type="button" class="btn btn-info btn-lg" id="join_btn">Join Game</button>
        <div class="modal fade " id="join_modal" role="dialog">
          <div class="modal-dialog modal-sm">

            <!-- New Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-plus"></span> Select a game to join:</h4>
              </div>
              <div class="modal-body" style="padding:40px 50px;">
                <select id=games class="selectpicker show-tick input-large">
                </select>

              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <button id="btn_continue_join_game" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Join</button>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>

</div> <!-- /Main container -->

<!-- Start game -->
<div class="hidden text-center" id="start_game">
  <div id="start_alert" class="alert alert-danger alert-dismissable hidden">
    Cannot start game at this time, there's not enough players at this moment.
  </div>
  <h2 id="create_player_msg"> Waiting for players to join the game.... </h2>
  <button type="button" class="btn btn-success btn-lg" id="start_btn">Start Game</button>
</div>
<!-- /Start game -->

<!-- Play Game -->
<div class="hidden" id="play_game">
  <div class="text-center">
    <h1 id="play_title"> </h1>
  </div>
  <div class="row">
    <div class="col-md-4">
            <div class='dealer-cards'>
              <h2> Pick a card </h2>
              <div id="grab_card" class='btn card ten-of-clubs flipped'></div>
              <h2> Last card on the deck </h2>
              <div  class='new-cards'></div>
                <div id="last_card" class='card ace-of-clubs'></div>
                <h3> Or pass this turn</h3>
                <button id="btn_pass" type="button" class="btn btn-default">Pass</button>
                <%# <div id='eight_selected'>
                  <h2> Eight classification: </h2>
                  <img id="eight_image" src="/images/clubs.png" class="img-thumbnail">
                </div>%>
        	     <div class='clear'></div>
               <div id='dealerTotal' class='dealer-total'></div>
             </div>
      </div>

      <div class="col-md-8 text-center">
        <div class='player-cards'>
          <h2> Your hand: </h2>
          <div class='new-cards' > </div>

        </div>

      </div>


    <!-- Player hand -->

  </div>
</div>

<!-- ClassificationModal -->
<div class="modal fade " id="classification_modal" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- New Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-plus"></span> Choose a classification</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <select id=classification class="selectpicker show-tick">
          <option> ♠ </option>
          <option> ♥ </option>
          <option> ♦ </option>
          <option> ♣ </option>
        </select>

      </div>
      <div class="modal-footer">
        <button id="btn_continue_classification" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Select</button>
      </div>
    </div>

  </div>
</div>
<!-- /ClassificationModal -->

<!-- /PlayGame -->


</div>
